@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: absolute;
  display: grid;
  grid-template-columns: 20% 20% 60%;
  grid-template-rows: 15% 20% 45% 20%;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#model-section {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

#file-upload {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

#recording-section {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#predict-button-section {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1
}

#audio-section {
  grid-column: 3 / span 1;
  grid-row: 2 / span 3;
}

header {
  text-align: center;
  padding-top: 15px;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  font-size: 1.8rem;
}





/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************** A). Model Section ***************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
#model-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}






/* ***************************************************************************** */
/* ***************************************************************************** */
/* ************************** B). File Upload Section ************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
#file-upload {
  width: 100%;
  padding: 30px;
  /* background: #6fe1f5; */
  border-radius: 5px;
}

#file-upload h1 {
  color: #6990f2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

#file-upload #upload-form {
  height: 167px;
  display: flex;
  margin: 30px 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990f2;
}

#file-upload #upload-form i {
  font-size: 50px;
  color: #6990f2;
}

#file-upload #upload-form p {
  font-size: 16px;
  margin-top: 15px;
  color: #6990f2;
}

#file-input {
  position: absolute;
  left: -100%;
}





/* ***************************************************************************** */
/* ***************************************************************************** */
/* *************************** C). Recording Section *************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
[data-role="controls"] > button {
  margin: 50px auto;
  outline: none;
  display: block;
  border: none;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -100em;
  cursor: pointer;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
      0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
}

[data-role="controls"] > button:hover {
  background-color: #ee7bee;
  background-image: linear-gradient(0deg, #ee7bee 0%, #6fe1f5 100%);
}

[data-role="controls"] > button[data-recording="true"] {
  background-color: #ff2038;
  background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
}





/* ***************************************************************************** */
/* ***************************************************************************** */
/* ************************ D). Predict Button Section ************************* */
/* ***************************************************************************** */
#predict-button-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}






/* ***************************************************************************** */
/* ***************************************************************************** */
/* ***************************** E). Audio Section ***************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
#audio-section {
  background-color: #4c474c;
  background-image: linear-gradient(0deg, #4c474c 0%, #141414 100%);
  border-radius: 50px;
  margin: 15px;
  overflow-y: auto;
}

[data-role="recordings"] > .audio-row {
  width: auto;
  height: auto;
  padding: 20px;
}

[data-role="recordings"] > .audio-row > audio {
  outline: none;
}

[data-role="recordings"] > .audio-row > a {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  background-color: #0093E9;
  background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

[data-role="recordings"] > .audio-row > a:hover {
  text-decoration: none;
}

[data-role="recordings"] > .audio-row > a:active {
  background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
}























/* ***************************************************************************** */
/* ***************************************************************************** */
/* ************************** Progress Stuff (Backup) ************************** */
/* ***************************************************************************** */
/* ***************************************************************************** */
/* #file-upload .upload-row {
  background: #e9f0ff;
  margin-bottom: 10px;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#file-upload .upload-row i {
  font-size: 30px;
  color: #6990f2;
}

#file-upload .upload-details span {
  font-size: 14px;
}

#upload-progress-area .upload-content {
  width: 100%;
  margin-left: 15px;
}

#upload-progress-area .upload-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#upload-progress-area .progress-bar {
  height: 6px;
  width: 100%;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 30px;
}

#upload-progress-area .progress-bar .progress {
  height: 100%;
  width: 50%;
  background: #6990f2;
  border-radius: inherit;
}

#uploaded-area {
  max-height: 230px;
  overflow-y: auto;
}

#uploaded-area::-webkit-scrollbar {
  width: 0px;
}

#uploaded-area .upload-content {
  display: flex;
  align-items: center;
}

#uploaded-area .upload-details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

#uploaded-area .upload-details .size {
  font-size: 11px;
  color: #404040;
}

#uploaded-area .fa-check {
  color: #6990f2;
  font-size: 16px;
} */
